body {
  margin: 70px auto;
  padding: 0;
  font-family: Calibri, sans-serif;
  font-style: normal;
  text-decoration: none;
  width: 80%;
}

.logo {
  width: 200px;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.report-date {
  text-align: right;
}

.instruction {
  margin-bottom: 0;
  color: rgb(74, 72, 72);
}

.instruction + p,
.instruction + ul,
.instruction + image {
  margin-top: 0;
}

span {
  color: black;
  font-weight: normal;
  font-size: 7pt;
  vertical-align: 3pt;
}

p {
  color: black;
  font-weight: normal;
  font-size: 11pt;
  margin-bottom: 20px 0;
}

.signature p {
  margin: 5px 0;
}

h2 {
  color: #105da9;
  font-weight: bold;
  font-size: 12pt;
}

h3 {
  color: #0f5da9;
  font-weight: normal;
  font-size: 12pt;
}
